<?xml version="1.0"?>

<model>
    <name>TriSpector1060</name>
    <version>1.0</version>
    <sdf version="1.6">model.sdf</sdf>

    <author>
        <name>Nicola Hinssen</name>
        <email>nicola.hinssen@gmail.com</email>
    </author>

    <description>
    The SICK TriSpector1060 as depth camera.
    </description>
</model>
